<footer>
    <div class="footer-section">
        <h3>Innovation for Impact</h3>
        <p>Here include a very small description of Innovation for Impact.</p>
        <div class="social-icons">
            <a href="#" target="_blank"><img src="../static/images/linkedin-icon.png" alt="LinkedIn"></a>
            <a href="#" target="_blank"><img src="../static/images/instagram-icon.png" alt="Instagram"></a>
        </div>
    </div>
    <div class="footer-section">
        <h3>ABOUT US</h3>
        <ul>
            <li><a href="#">Our Team</a></li>
            <li><a href="#">Recruitment</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h3>CLIENTS</h3>
        <ul>
            <li><a href="#">Internal</a></li>
            <li><a href="#">External</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h3>CONTACT US</h3>
        <p><a href="mailto:email@example.com">Email us</a></p>
    </div>
</footer>