<footer>
    <div class="footer">
        <div class="footer-left">
            <div class="footer-logo">
                <a href="../index.html">
                    <img src="../static/images/IFI_logo.png" alt="IFI Logo">
                    <strong>Innovation For Impact</strong>
                </a>
            </div>
            <div class="social-icons">
                <a href="https://www.linkedin.com/company/impact-umich" target="_blank"><img src="../static/images/IFI_linkedin_logo.png"></a>
                <a href="mailto:innovationforimpact@umich.edu"><img src="../static/images/IFI_email_logo.png"></a>
                <a href="https://github.com/Innovation-for-Impact" target="_blank"><img src="../static/images/IFI_github_logo.png"></a>
                <a href="https://www.instagram.com/impact_umich?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"><img src="../static/images/IFI_instagram_logo.png"></a>
                <a href="https://linktr.ee/impact_umich?fbclid=PAZXh0bgNhZW0CMTEAAabuHmaHrQlNc-iIg4xMbH4U7ltBHkzfRUpjrZRNFAOoMw9meYGAwGJKNKQ_aem_6xi5ZtZt0rFpC1Udza4p_Q" target="_blank"><img src="../static/images/IFI_linktree_logo.png"></a>
            </div>
        </div>
        <div class="footer-links">
            <div>
                <strong>ABOUT US</strong>
                <a href="../our-team.html">Our Team</a>
                <a href="../pages/recruitment.html">Recruitment</a>
            </div>
            <div>
                <strong>CLIENTS</strong>
                <a href="../pages/clients.html#external-clients">External</a>
                <a href="../pages/clients.html#internal-clients">Internal</a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; Copyright Innovation For Impact 2024 - 2025
    </div>
</footer>