<!-- TODO: Link all the pages -->
<header class="navbar">
    <nav class="header_nav">
        <div class="logo">
            <img src="../static/images/IFI_logo.png" alt="Logo"> <!-- Updated path -->
        </div>
        <ul class="nav-links">
            <li><a href="../index.html" class="home">Home</a></li>

            <!-- Dropdown for "Our Projects" -->
            <li class="dropdown">
                <a href="../pages/projects.html">Clients</a>
                <ul class="dropdown-content">
                    <li><a href="../pages/clients.html#external-projects-heading">External</a></li>
                    <li><a href="../pages/clients.html#internal-projects-heading">Internal</a></li>
                </ul>
            </li>

            <li><a href="../our-team.html">Our team</a></li>
            <li><a href="../pages/recruitment.html">Recruitment</a></li>
            <li><a href="../pages/contact-us.html" class="contact-us-link">Contact Us</a></li>
        </ul>
    </nav>
</header>
